.toys {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.toys-background {
    background-color: rgb(223, 230, 230);
}

.items{
    text-align: center;
    background-color: rgb(217, 255, 0);
    margin-top: 10px;
}

/* responsive Toys List Max Width: 700*/
@media screen and (max-width: 700px) {

    .toys {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
        text-align: center;
    }
}

/* responsive Toys List */
@media screen and (min-width: 700px) and (max-width: 1000px) {

    .toys {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
        text-align: center;
    }
}
